$font-family-heading: 'Vollkorn', serif;
$font-family-body: 'Lato', sans-serif;

$page-width: 90%;
$page-width-max: 40rem;

// Colors
$color-light-grey: #eaf1f2;
$color-washed-grey: #a4a4a4;
$color-blueish-black: #172d30;
$color-text: $color-blueish-black;

// Spacings
$spacing-xs: 0.66rem;
$spacing-s: 1rem;
$spacing-m: 1.5rem;
$spacing-l: 2.5rem;
$spacing-xl: 4rem;

$spacing-prop: 7.5vmin;

// Transitions
$pace-fast: 0.2s;
$pace-normal: 0.35s;
$pace-slow: 0.5s;

// Easings
$ease-in: ease-in;
$ease-out: ease-out;
$ease-in-out: ease-in-out;

// Shadows
$shadow-button: -2px 2px 5px rgba(black, 0.2);
$shadow-button-active: -1px 1px 3px rgba(black, 0.1);
